<!DOCTYPE html>

<html>
    <head>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body style="background-color:powderblue;">
        <h1>Sign Up Now To Win a Brand New Car </h1>
        <p><hr></p>
        <form method='POST'>
            <label for="username">Username</label>
                <input name="username" type="text" value='{{username}}' />
            </label>
            <p class= "error"> {{usernameEr}} </p>

            <label for="password">Password</label>
                <input name="password" type="password" />
            <p class= "error"> {{passwordEr}} </p>

            <label for="verify">Verify Password</label>
                <input name="verify" type="password" />
            <p class= "error"> {{ConfirmpassEr}} </p>

            <label for="email">Email (optional)</label>
                <input name="email" type="text" value='{{email}}' />
            <p class= "error"> {{emailEr}} </p> 

            <input type="submit">
        <h3> Prize: Brand New Mustang!!! <h3>
        <p><img src="https://static.cargurus.com/images/site/2017/12/17/16/30/2018_ford_mustang_gt_premium-pic-2287891100424240785-640x480.jpeg" width=250 height=250 </p>
        </form>
    </body>
</html>